<!DOCTYPE html>
<html lang="en">

    <footer>
        <div class="content-Flex">
            <a href="http://localhost/ProyectoFinal/WebProject/index.php"><img src="http://localhost/ProyectoFinal/WebProject/assets/images/logo_footer.svg" alt=""></a>

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Mantenimiento</a></li>
                <li><a href="">----</a></li>
                <li><a href="">----</a></li>
                <li><a href="">----</a></li>
            </ul>

            <!-- <ul>
                <li><a href=""><img src="" alt="">1</a></li>
                <li><a href=""><img src="" alt="">2</a></li>
                <li><a href=""><img src="" alt="">3</a></li>
                <li><a href=""><img src="" alt="">4</a></li>
            </ul> -->
        </div>
        <p>Copyright &copy; <span id="currentYear"> </span> RenewTEC | All Rights Reserved</p>


        <script>
            document.getElementById('currentYear').innerHTML = new Date().getFullYear();
        </script>

    </footer>