<nav>

    <a href="http://localhost/ProyectoFinal/WebProject/index.php"><img src="http://localhost/ProyectoFinal/WebProject/assets/images/logo.svg" alt="logoRenewTEC"></a>

    <ul class="menu">
        <li><a href="">Opcion1</a></li>
        <li><a href="">Opcion2</a></li>
        <li><a href="">Opcion3</a></li>
        <li><a href="">Opcion4</a></li>
    </ul>

    <button id="botonLogin" type="button" class="boton"><a href="http://localhost/ProyectoFinal/WebProject/pages/login.php" id="logRef">Login</a></button>

</nav>
